@model IEnumerable<PawKarTIWypozyczalnia.Models.Kategoria>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            @foreach (var kategoria in Model)
            {
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("FilmsList", "Films", new {categoryName = kategoria.Name})">@kategoria.Name</a>
                </li>
            }
            <li class="nav-item">
                <a style="color:lightcoral;" class="nav-link" href="@Url.Action("GetAllFilms", "Films")">Wszystkie</a>
            </li>
            <li class="nav-item">
                @using(Html.BeginForm("SearchFilms","Films"))
                {
                    @Html.TextBox("text")
                    <button type="submit" class="btn btn-sm btn-info">Wyszukaj</button>
                }
            </li>
        </ul>
    </div>
</nav>