@model IEnumerable<PawKarTIWypozyczalnia.Models.Film>

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<table class="table-bordered" style="width: 100%">
    <tr>
        @foreach (var film in Model)
        {
            <td style="text-align:center;">
                <h2>@film.Title</h2>
                <a class="img-thumbnail" href="@Url.Action("Details", "Films", new { filmId = film.Id})"><img src="~/content/@film.PosterName" width="200px" height="300px" /></a>
            </td>
        }
    </tr>
</table>